
    body {
        font-family: 'Baloo Bhai 2', cursive;
        margin: 0px;
        padding: 0px; 
        color: white;
        background: url('img/bg.png');

    }
 
    .left {
        display: inline-block;
        position: absolute;
        left: 91px;
        top: 18px;
        

        /* border: 2px solid white; */

    }

    .left img {
        width: 100px;
        filter: invert(100%);
        
    }

    .mid {
        display: block;
        width: 50%;
        margin: 28px auto;
        /* border: 2px solid white; */
    }

    .right {
        display: inline-block;
        position: absolute;
        right: 34px;
        top: 33px;
        /* border: 2px solid pink; */

    }

    .navbar {
        display: inline-block;

    }

    .navbar li {
        display: inline-block;
        font-size: 25px;

    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 34px 34px;
      

    }

    .left div {
        color: white;
        text-align: center;
        line-height: 19px;
        font-size: 19px;
    }

    .navbar li a:hover,
    .navbar li a.active {
        text-decoration: underline;
        color: gray;
    }

    .btn {
        font-family: 'Baloo Bhai 2', cursive;
        margin: 0px 9px;
        color: white;
        background-color: black;
        padding: 4px 14px;
        border: 2px solid gray;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: rgb(77, 72, 72);
    }
    .container{
        border: 2px solid white;
        margin: 114px 989px;
    padding: 59px 74px;
    width: 33%;
    border-radius: 19px;
    }
    .class-group input{
        font-family: 'Baloo Bhai 2', cursive;
        text-align: center;
        display: block;
        width: 508px;
        padding: 1px;
        border: 2px solid black;
        margin: 11px  auto;
        font-size: 25px ;
        border-radius: 8px;

    }
    .container h1{
        text-align: center;
    }
    .container button{
        display: block;
        width: 80%;
        margin: 20px auto;
    }
